---
layout: false
---
doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="generator" content="BoringTu")
		title 个人简历 - 李安然
		meta(name="author" content="BoringTu")
		link(rel="icon" href="/assets/images/favicon.ico")

		meta(name="description" content="李安然, 简历, BoringTu, Resume, 囧囧有神的兔纸, 囧神兔, 兔纸, 李兔纸")
		meta(property="og:type" content="resume")
		meta(property="og:title" content="个人简历 - 李安然")
		meta(property="og:url" content="https://boringtu.com/resume/")
		meta(property="og:site_name" content="BoringTu")
		meta(property="og:description" content="李安然, 简历, BoringTu, Resume, 囧囧有神的兔纸, 囧神兔, 兔纸, 李兔纸")
		meta(property="og:locale" content="zh-cn")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:title" content="个人简历 - 李安然")
		meta(name="twitter:description" content="李安然, 简历, BoringTu, Resume, 囧囧有神的兔纸, 囧神兔, 兔纸, 李兔纸")

		link(rel="stylesheet" href="dist/css/font-awesome.css")
		link(rel="stylesheet" href="dist/css/base.css")
		link(rel="stylesheet" href="dist/css/style.css")

	body
		//- Page 1
		.page
			include src/templates/head.pug

			.widget(data-type="projects_experience")
				h2 SKILLS
				.skillBox
					div
						.item(data-percent="9")
							.skillName
								| -&nbsp;
								strong JavaScript
							.skillValue: .cover
						.item(data-percent="9")
							.skillName
								| -&nbsp;
								strong TypeScript
							.skillValue: .cover
						.item(data-percent="10")
							.skillName
								| -&nbsp;
								strong CoffeeScript
							.skillValue: .cover
						.item(data-percent="8")
							.skillName
								| -&nbsp;
								strong 微信小程序
							.skillValue: .cover
						.item(data-percent="7")
							.skillName
								| -&nbsp;
								strong NodeJS
							.skillValue: .cover
						.item(data-percent="8")
							.skillName
								| -&nbsp;
								strong Nginx
							.skillValue: .cover
					div
						.item(data-percent="8")
							.skillName
								| -&nbsp;
								strong React
							.skillValue: .cover
						.item(data-percent="9")
							.skillName
								| -&nbsp;
								strong VueJS
							.skillValue: .cover
						.item(data-percent="8")
							.skillName
								| -&nbsp;
								strong Vim
							.skillValue: .cover
						.item(data-percent="8")
							.skillName
								| -&nbsp;
								strong OS X
							.skillValue: .cover
						.item(data-percent="7")
							.skillName
								| -&nbsp;
								strong Linux
							.skillValue: .cover
						.item(data-percent="7")
							.skillName
								| -&nbsp;
								strong Shell
							.skillValue: .cover

			.widget(data-type="work_experience")
				h2 WORK EXPERIENCE
				.item
					.leftPanel
						h3.widgetTitle 紫讯科技
						p.widgetSubtitle
							| 福州
							span.fa.fa-map-marker
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端工程师
							span.title.section 2021.06·至今
						p.content.
							Chrome插件开发<br>
							主要负责 RPA（机器人流程自动化-Robotic Process Automation）设计器和应用助手<br>
							以及云账房管理系统与在各大电商（Amazon等）和各大支付平台（网易支付、payoneer等）页面数据爬取

				.item
					.leftPanel
						h3.widgetTitle 世纪恒通
						p.widgetSubtitle
							| 深圳
							span.fa.fa-map-marker
						.line
					.rightPanel
						.line
						.clear
							span.title.position 深圳前端负责人
							span.title.section 2019.04·2021.06
						p.content.
							负责所有前端项目的开发工作<br>
							小程序操作 OBU 设备，以及与各服务商对接的 ETC 办理流程<br>
							车主云商户智能管理系统（MMS）v2.0 版本前端底层框架搭建、菜单 & 功能权限系统的设计与开发，以及系统管理 & 工作台绝大部分模块的开发工作

				.item
					.leftPanel
						h3.widgetTitle 创联互动
						p.widgetSubtitle
							| 菲律宾 & 深圳
							span.fa.fa-map-marker
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端负责人 & 技术主管
							span.title.section 2016.11·2019.04
						p.content.
							几大游戏算法的实现<br>
							前端项目框架的搭建（Backbone + Grunt）、（Vue-Cli3 + Webpack）<br>
							前端项目主要开发人员<br>
							分析项目所有模块中出现问题的原因并加以解决或提供解决方案<br>
							服务器环境的配置（系统搭建，PM2，Nginx，NodeJS等）<br>
							在现有前端项目基础上扩展 NodeJS 后端模块<br>
							负责前、后端 & 服务器技术选型、项目统筹，以及技术部各组间的协作工作

		//- Page 2
		.page
			//-include src/templates/head.pug

			.widget(data-type="work_experience")
				h2 WORK EXPERIENCE

				.item
					.leftPanel
						h3.widgetTitle 易商云
						p.widgetSubtitle
							| 厦门
							span.fa.fa-map-marker
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端负责人
							span.title.section 2015.07·2016.10
						p.content.
							负责pc端两个项目前端框架的搭建及后续二次开发<br>
							协助后台开发人员排查和解决问题

				.item
					.leftPanel
						h3.widgetTitle 爱唯光石
						p.widgetSubtitle
							| 厦门
							span.fa.fa-map-marker
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端负责人
							span.title.section 2014.03·2015.07
						p.content.
							电信翼比特（宽带提速）等项目的前端设计和开发

				.item
					.leftPanel
						h3.widgetTitle 孔网时代
						p.widgetSubtitle
							| 北京
							span.fa.fa-map-marker
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端工程师
							span.title.section 2013.03·2014.02
						p.content.
							消息系统前端开发<br>
							搜索引擎的前端设计及开发

				.item
					.leftPanel
						h3.widgetTitle 国家电网
						p.widgetSubtitle
							| 北京
							span.fa.fa-map-marker
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端工程师 & Java工程师
							span.title.section 2010.09·2013.03
						p.content.
							“国家电网 财务集约化 协同平台系统”的全栈开发工作<br>
							“国家电网 财务易用化 财务工作台”的协助开发与维护工作<br>
							“国家电网 输变电设备状态信息高级应用系统”前端框架设计与开发<br>
							“国家电网 河南尖山II期气象监测系统”全栈的设计与开发

			.widget(data-type="projects_experience")
				h2 PROJECT EXPERIENCE
				.item
					.leftPanel
						h3.widgetTitle 云账房
						p.widgetSubtitle
							| 紫讯科技
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端工程师
							span.title.section 2021.10·至今
						p.content.
							TypeScript + Scss + React + Mobx + Chrome插件<br>
							负责云账房管理后台以及运维后台的数个模块的开发，和全项目各功能的维护，以及基于 Chrome 插件的各大电商（Amazon等）和各大支付平台（网易支付、payoneer等）页面数据爬取

				.item
					.leftPanel
						h3.widgetTitle RPA 设计器
						p.widgetSubtitle
							| 紫讯科技
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端工程师
							span.title.section 2021.06·2021-10
						p.content.
							TypeScript + Scss + React + Recoil + X6 + Chrome插件<br>
							主要负责基于 X6 引擎的 RPA 元件流程设计器面板的开发，以及围绕 RPA 设计器相关的所有功能的开发（包括 由设计器生成的 DSL 数据与 RPA 播放器的对接、设计器中每个元件属性的编辑等）

				.item
					.leftPanel
						h3.widgetTitle 车主云商户智能管理系统（MMS）v2.0
						p.widgetSubtitle
							| 世纪恒通
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 深圳前端负责人
							span.title.section 2020.09·2021.06
						p.content.
							CoffeeScript + JavaScript + Pug + Sass + Vue + Webpack<br>
							前端项目技术栈选型、底层框架搭建、接口设计、权限系统的设计与开发，以及一部分页面的开发

				.item
					.leftPanel
						h3.widgetTitle 微ETC（Web & 小程序）
						p.widgetSubtitle
							| 世纪恒通
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 深圳前端负责人
							span.title.section 2019.04·2020.09
						p.content.
							JavaScript + Pug + Stylus + Vue + Webpack + Grunt<br>
							数个版本的 Web & 小程序 的主业务流程的开发和改版<br>
							小程序通过 SDK 与 OBU 设备交互，对接六省高速，实现【多设备厂商 & 多卡商】设备的二次发行与激活流程（在文档繁杂不全甚至文档有误、SDK 错误频发的情况下实现）

		//- Page 3
		.page
			//-include src/templates/head.pug

			.widget(data-type="projects_experience")
				h2 PROJECT EXPERIENCE

				.item
					.leftPanel
						h3.widgetTitle 客服系统
						p.widgetSubtitle
							| 创联互动
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端负责人
							span.title.section 2019.01·2019.04
						p.content.
							CoffeeScript + Pug + Sass + Vue + Webpack + Nginx<br>
							连接客服与用户的IM系统，附带内部协同等功能，包括客服、分组、权限等元素的 CRUD 功能。<br>
							项目搭建、IM 功能闭环，以及鉴权功能等均由本人独立完成，后端接口与 WebSocket 对接协议主要设计者。

				.item
					.leftPanel
						h3.widgetTitle 游戏平台
						p.widgetSubtitle
							| 创联互动
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端负责人
							span.title.section 2018.03·2019.04
						p.content.
							CoffeeScript + ES6 + Pug + Sass + Vue + Webpack<br>
							负责游戏平台移动 Web 端项目的开发和重构，以及主要玩法的实现。

				.item
					.leftPanel
						h3.widgetTitle 游戏平台
						p.widgetSubtitle
							| 创联互动
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端负责人 & 技术主管
							span.title.section 2016.11·2018.02
						p.content.
							CoffeeScript + Pug + doT + Sass + Grunt + NodeJS + Express<br>
							负责前端游戏平台框架的搭建（包括 Web 端与 app 端）、主要游戏玩法的实现、在现有前端项目基础上新增 Node 后端项目（框架搭建和开发），以及负责技术部各组（前、后端，UI，运维）间的协作工作、分析项目部署及运行时出现问题的原因并以解决或提供解决方案等工作。

				.item
					.leftPanel
						h3.widgetTitle 易商中心（V1 & V2）
						p.widgetSubtitle
							| 易商云
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端负责人
							span.title.section 2016.03·2016.10
						p.content.
							CoffeeScript + Pug + Sass + Backbone + Grunt<br>
							产品整体升级，重新开发第二版<br>
							承担项目前端框架的设计、搭建及开发，并协助定制接口规范，以及协助后台人员解决后台技术难点。
				.item
					.leftPanel
						h3.widgetTitle 运营支撑平台（V1 & V2）
						p.widgetSubtitle
							| 易商云
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端负责人
							span.title.section 2015.07·2016.07
						p.content.
							CoffeeScript + Pug + Sass + Backbone + Grunt<br>
							产品整体升级，重新开发第二版<br>
							承担项目前端框架的设计、搭建及开发，并协助定制接口规范，以及协助后台人员解决后台技术难点。
				.item
					.leftPanel
						h3.widgetTitle 电信翼比特管理中心
						p.widgetSubtitle
							| 爱唯光石
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端负责人
							span.title.section 2014.03·2015.07
						p.content.
							JavaScript + doT + Less + Backbone + Grunt<br>
							负责电信翼比特（宽带提速）项目的前端设计和开发，以及其他项目的开发和维护工作。
				.item
					.leftPanel
						h3.widgetTitle 孔夫子旧书网
						p.widgetSubtitle
							| 孔网时代
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端工程师
							span.title.section 2013.03·2014.03
						p.content.
							JavaScript + Smart + Less + Backbone + Grunt<br>
							主要承担孔夫子旧书网消息系统前端模块开发和与其他各模块整合、新版搜索模块前端部分的设计和开发工作，以及保证整个系统对IE6+的兼容性。根据后台提供的接口以及数据结构、后台搜索服务提供的数据结构，还有前端的功能，设计和开发前端框架，以及后续的二次开发工作。

		//- Page 4
		.page
			//-include src/templates/head.pug

			.widget(data-type="projects_experience")
				h2 PROJECT EXPERIENCE
				.item
					.leftPanel
						h3.widgetTitle 国网输变电设备状态信息高级应用系统
						p.widgetSubtitle
							| 国家电网
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端工程师 & Java工程师
							span.title.section 2012.05·2013.03
						p.content.
							JavaScript + Smart + Less + Backbone + Grunt<br>
							设计并开发针对性系统Web框架，承担对系统Web方面升级及维护工作，协助各子模块的指导、开发及调试工作，协助开发输变电设备状态评价、缺陷和故障诊断等模块的前台和后台系统。
				.item
					.leftPanel
						h3.widgetTitle 国网河南尖山II期气象监测系统
						p.widgetSubtitle
							| 国家电网
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端工程师 & Java工程师
							span.title.section 2011.11·2012.03
						p.content.
							根据需求文档以及项目经理的意见和建议，独立设计和开发（包括 Web 前端框架设计、页面样式设计、后台逻辑代码、数据库设计）。
				.item
					.leftPanel
						h3.widgetTitle 国网财务易用化工作台
						p.widgetSubtitle
							| 国家电网
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position 前端工程师 & Java工程师
							span.title.section 2011.10·2011.11
						p.content.
							页面及后台各部分的功能设计、开发和调试工作，以及整合项目的调试工作。
				.item
					.leftPanel
						h3.widgetTitle 国网财务集约化协同平台
						p.widgetSubtitle
							| 国家电网
							span.fa.fa-building
						.line
					.rightPanel
						.line
						.clear
							span.title.position Java工程师
							span.title.section 2010.09·2011.10
						p.content.
							承担平台系统的整个查询模块、待办信息模块、已处理业务状态跟踪、凭证生成、用户权限以及总部与网省间数据的下达和同步模块的设计、开发和维护工作。

			.widget(data-type="tech_stack")
				h2 TECHNOLOGY STACK #[i （插件、工具库等已省略）]
				.box
					ul
						li JavaScript
						li TypeScript
						li CoffeeScript
						li 微信小程序
						li React
						li VueJS
						li NodeJS
						li Webpack
						li Grunt
					ul
						li Shell
						li Vim
						li Npm
						li Bower
						li Cordova
						li DCloud
						li OS X
						li Linux
						li Markdown
					ul
						li Nginx
						li Express
						li Pug/DoT/Handlebars
						li Sass/Stylus/Less
						li PM2
						li Docker #[i # 学习中]
						li Cocos2d-JS #[i # 学习中]
						li Python #[i # 学习中]
						li Raspberry Pi #[i # 折腾中]

			.widget(data-type="description")
				h2 DESCRIPTION
				.box
					p 喜欢 JavaScript 的灵活，也同样喜欢 TypeScript 的方便。做过 Express 项目，写过 Shell 脚本，开发过 Chrome 插件，玩过 Raspberry Pi，也折腾过各种硬件。
					p Bug 率历来都是在所在各公司中最低的。追求代码执行效率和编码美观，对代码有些许强迫症。

